@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {

    font-family: Runecity;
    src: url("../../fonts/Runeicity\ Decorative001.ttf");

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    
}

body {

    background-image: url('../../images/mountains.jpg');
    background-size: cover;
    backdrop-filter: blur(3px);
    
}
header {

    background-color: #112686;
    box-shadow: 0 3px 3px #11268680;
    display: flex;
    padding: 5px 32px;
    justify-content: space-between;
    opacity: .6;
    
}

.main-menu {

    font-size: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
    list-style: none;
    
}

.main-menu a {

    font-family: 'Runecity';
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: .2s ease-in-out;
    
}

.main-menu a:hover {

    color: #1c3352;
    opacity: 1;
    
}

header img {

    height: 75px;
    display: inline;
    
}

main {

    max-width: 1200px;
    margin: 0 auto;
    
}

.introduction {

    margin-bottom: 56px;
    
}

.introduction h1 { 

    font-family: 'Anton';
    font-weight: lighter;
    color: #000000;
    font-size: 72px;
    margin-top: 128px;
    letter-spacing: 4px;
    
}

.socials {

    margin-top: 32px;
    
}

.socials a {

    text-decoration: none;
    
}

.socials a img {

    width: 72px;
    opacity: .8;
    padding: 12px;
    
}

.socials a img:hover {

    opacity: 1;
    
}

.introduction article p {

    margin-top: 82px;
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    
}

.introduction article p a {

    color: white;
    text-decoration: none;
    
}

.introduction article p a:hover {

    color: #838383;
    text-decoration: none;
    
}

.introduction article {

    display: flex;
    margin-top: 32px;
    gap: 100px;
    
}

.introduction article img {

    border-radius: 32px;
    width: 500px;
    object-fit: cover;
    
}